<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common :: head('Sign in')}"></head>
<body>
  <nav th:replace="~{fragments/common :: navbar}"></nav>
  <div class="container">
    <div class="auth-card">
      <h1>Sign in to GitKoo</h1>

      <div th:if="${param.logout}" class="alert alert-success">
        You have been signed out.
      </div>
      <div th:if="${param.error}" class="alert alert-error">
        Invalid username or password.
      </div>
      <div th:if="${success}" class="alert alert-info" th:text="${success}"></div>

      <form th:action="@{/login}" method="post">
        <div class="field">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required autocomplete="username">
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required autocomplete="current-password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
    </div>
  </div>
</body>
</html>
