<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common :: head('Admin')}"></head>
<body>
<th:block th:replace="~{fragments/common :: header}"></th:block>

<main th:replace="~{fragments/layout :: page('wide', ~{::content})}">
  <th:block th:fragment="content">
    <div th:replace="~{fragments/ui :: subhead('Site administration', null, null)}"></div>

    <div th:replace="~{fragments/layout :: withSidebar('start', ~{::adminBody}, ~{::adminRail})}">
      <div th:fragment="adminRail" th:replace="~{fragments/layout :: adminNav('overview')}"></div>

      <ul th:fragment="adminBody" class="list">
        <li class="list-item flex-items-center">
          <svg class="octicon color-fg-muted" width="16" height="16" aria-hidden="true"><use href="#octicon-people"></use></svg>
          <span class="flex-auto">Registered users</span>
          <strong th:text="${userCount}">0</strong>
        </li>
      </ul>
    </div>
  </th:block>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>
