<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common :: head('Commit ' + ${#strings.substring(sha, 0, 7)})}"></head>
<body>
<th:block th:replace="~{fragments/common :: header}"></th:block>
<div th:replace="~{fragments/layout :: repoHead(${owner}, ${repo}, 'code')}"></div>

<main th:replace="~{fragments/layout :: page('wide', ~{::content})}">
  <th:block th:fragment="content">

    <!-- Commit message and metadata -->
    <div class="Box">
      <div class="Box-body">
        <h1 class="f3" th:text="${commit.message}">message</h1>
      </div>
      <div class="Box-row d-flex flex-items-center flex-wrap gap-2 color-fg-muted">
        <span th:replace="~{fragments/common :: avatar(${commit.authorName}, 20)}"></span>
        <strong class="color-fg-default" th:text="${commit.authorName}">author</strong>
        <span>committed</span>
        <span th:replace="~{fragments/ui :: timeAgo(${commit.committerDateIso})}"></span>
        <span class="ml-auto d-flex flex-items-center flex-wrap gap-2">
          <span th:if="${commit.parent != null and !commit.parent.isEmpty()}">
            parent
            <a class="text-mono" th:each="p : ${commit.parent.split(' ')}"
               th:href="@{'/' + ${owner} + '/' + ${repo.name} + '/commit/' + ${p}}"
               th:text="${#strings.substring(p, 0, 7)}">0000000</a>
          </span>
          <span class="text-mono">commit <span th:text="${#strings.substring(sha, 0, 7)}">0000000</span></span>
        </span>
      </div>
    </div>

    <div class="section">
      <div th:replace="~{fragments/diff :: summary(${#lists.size(diffFiles)},
                         ${additions}, ${deletions}, 'Showing')}"></div>
    </div>
    <div th:replace="~{fragments/diff :: files(${diffFiles})}"></div>
  </th:block>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>
