<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common :: head('Setup')}"></head>
<body>
<th:block th:replace="~{fragments/common :: header}"></th:block>

<main th:replace="~{fragments/layout :: page('auth', ~{::content})}">
  <th:block th:fragment="content">

    <div th:if="${error}" class="flash flash-error" th:text="${error}"></div>

    <div th:replace="~{fragments/form :: authCard('Welcome to GitKoo',
                       'Create the administrator account to finish setting up this instance.',
                       @{/setup}, ~{::fields}, 'Create administrator account', null, null, null)}">
      <th:block th:fragment="fields">
        <div th:replace="~{fragments/form :: field('username', 'username', 'Username',
                           ${username}, 'e.g. minh', null, null, true, true)}"></div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control width-full"
                 th:value="${email}" required autocomplete="email">
        </div>
        <div th:replace="~{fragments/form :: password('password', 'password', 'Password',
                           'Use at least 8 characters.')}"></div>
        <div th:replace="~{fragments/form :: password('confirmPassword', 'confirmPassword',
                           'Confirm password', null)}"></div>
      </th:block>
    </div>
  </th:block>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>
