<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common :: head('New issue - ' + ${owner} + '/' + ${repo.name})}"></head>
<body>
<th:block th:replace="~{fragments/common :: header}"></th:block>
<div th:replace="~{fragments/layout :: repoHead(${owner}, ${repo}, 'issues')}"></div>

<main th:replace="~{fragments/layout :: page('wide', ~{::content})}">
  <th:block th:fragment="content">
    <div th:replace="~{fragments/layout :: withSidebar('end', ~{::compose}, ~{::tips})}">

      <th:block th:fragment="compose">
        <div th:replace="~{fragments/form :: card(null,
                           @{'/' + ${owner} + '/' + ${repo.name} + '/issues/new'},
                           ~{::fields}, 'Submit new issue')}"></div>
      </th:block>

      <th:block th:fragment="fields">
        <input type="text" id="title" name="title" class="form-control input-lg width-full"
               required placeholder="Title" aria-label="Issue title" autofocus>
        <div th:replace="~{fragments/form :: textarea('body', 'body', null, null, 12,
                           'Leave a comment (Markdown supported)')}"></div>
      </th:block>

      <div th:fragment="tips" class="section color-fg-muted f6">
        <div class="section-title">Writing tips</div>
        <ul class="bullet-list">
          <li>Markdown is supported.</li>
          <li>Reference other issues with <code>#123</code>.</li>
          <li>Use <code>- [ ]</code> for task lists.</li>
        </ul>
      </div>
    </div>
  </th:block>
</main>

<footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>
